.helpLink {
  width: 233px;
  height: 68px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0956b9;
  background-color: #e7ce32;
  border: transparent;
}
.helpLink:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.helpLink.active {
  background-color: #ffdc00;
}

a {
  display: inline-block;
  text-decoration: none;
}
