.shareButton {
  width: 229px;
  height: 64px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 2px;
  color: #0956b9;
  border-radius: 12px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #fffefb;
}
.shareButton::after {
  content: "";
  position: absolute;
  height: 106%;
  width: 102%;
  border-radius: 12px;
  background-image: linear-gradient(to right, #e7ce32, #0956b9);
  z-index: -1;
}

.shareButton:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fbf5cf;
}

.svg {
  width: 32px;
  margin-left: 10px;
}
