.section_status_bar{
  width: 100%;
  font-family: var(--font-family);
  background-color: var(--green);
  color: var(--white-secondary);
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-align: center;
  padding: 60px 80px;
}

.title{
  font-family: var(--second-family);
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 56px;
}

.description{
  /* font-size: 24px; */

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}
.description_title{
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 24px;
}
.description_text{
  font-size: 24px;
  font-weight: 400;
}


/* @media screen and (min-width: 1440px) {}
@media screen and (min-width: 1280px) {}
@media screen and (min-width: 1024px) {}
@media screen and (min-width: 768px) {}
@media screen and (min-width: 420px) {}
@media screen and (min-width: 320px) {} */

@media(max-width: 1440px) {
  .title{
    color: rgb(245, 49, 49);
  }
}
@media(max-width: 1280px) {
  .title{
    color: rgb(245, 183, 49);
  }
}
@media(max-width: 1024px) {
  .title{
    color: rgb(186, 245, 49);
  }

  .section_status_bar {
    /* padding: 48px 60px; */
    /* font-size: 24px; */
  }
  .title {
    /* font-size: 24px;
    font-weight: 500; */
    /* margin-bottom: 32px; */
  }
  .description {
    /* margin-bottom: 32px; */
  }
  .description_title {
    /* font-size: 20px; */
    /* font-weight: 500; */
    /* margin-bottom: 24px; */
  }


}

@media(max-width: 768px) {
  .title{
    color: rgb(49, 245, 124);
  }

  .section_status_bar {
    /* padding: 48px 40px;
    font-size: 20px; */
  }
  .title {
    /* font-size: 24px; */
  }
  .description_title {
    /* font-size: 16px; */
  }

}

@media(max-width: 420px) {
  .title{
    color: rgb(49, 173, 245);
  }

  .section_status_bar {
    /* padding: 32px 20px;
    font-weight: 500;
    font-size: 20px; */
  }
  .title {
    /* font-size: 20px; */
    /* margin-bottom: 24px; */
    /* text-align: start; */
  }


}

@media(max-width: 320px) {
 .title{
    color: rgb(91, 49, 245);
  }

  .section_status_bar {
    /* padding: 32px 20px;
    font-size: 20px; */
  }
  .title {
    /* font-size: 20px; */
  }
  .description {
    /* margin-bottom: 24px; */
  }
  .description_title {
    /* font-weight: 500; */
    /* margin-bottom: 16px; */
  }

}

 /* !!! Після вдалих тестів видалити. */
.test_bloc__section_status_bar{
  position: fixed;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.527);
  border-radius: 5px;
}