.section_status_bar{
  width: 100%;
  background-color: var(--green);
  color: var(--white-secondary);
  padding: 60px 80px;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}

.title{
  font-family: var(--second-family);
  font-size: 36px;
  margin-bottom: 56px;
  font-weight: 400;
}

.description{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}
.description h3{
  margin-bottom: 24px;
}

.indicator{
  width: 100%;
  border: 1px solid var(--white-secondary);
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 1px 0;
  overflow: hidden;
  margin-bottom: 56px;
}
.item_img{
  display: block;
  width: 1.96%;
}

 /* !!! Після вдалих тестів видалити. */
.test_bloc__section_status_bar{
  position: fixed;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.527);
  border-radius: 5px;
}
@media(max-width: 1440px) {}
@media(max-width: 1280px) {}
@media(max-width: 1024px) {
  .section_status_bar {
    padding: 48px 60px;
    font-size: 24px;
  }
  .title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 32px;
  }
  .description {
    margin-bottom: 32px;
  }
  .description h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 24px;
  }

  .indicator {
    border-radius: 17px;
    margin-bottom: 32;
  }
}

@media(max-width: 768px) {
  .section_status_bar {
    padding: 48px 40px;
    font-size: 20px;
  }
  .title {
    font-size: 24px;
  }
  .description h3 {
    font-size: 16px;
  }
  .indicator{
    border-radius: 12px;
    margin-bottom: 32px;
  }
}

@media(max-width: 420px) {
  .section_status_bar {
    padding: 32px 20px;
    font-weight: 500;
    font-size: 20px;
  }
  .title {
    font-size: 20px;
    margin-bottom: 24px;
    text-align: start;
  }

  .indicator{
    border-radius: 8px;
    margin-bottom: 24px;
  }
}

@media(max-width: 320px) {
  .section_status_bar {
    padding: 32px 20px;
    font-size: 20px;
  }
  .title {
    font-size: 20px;
  }
  .description {
    margin-bottom: 24px;
  }
  .description h3 {
    font-weight: 500;
    margin-bottom: 16px;
  }
  .indicator{
    border-radius: 6px;
  }
}