.progress{
  width: 100%;
  height: 100px;
  border: 1px solid var(--white-secondary);
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 1px;
  overflow: hidden;
  margin-bottom: 56px;
}

.progress_item{
  min-width: 21px;
  height: 100%;
  background-image: url('../../images/status-bar/progress_background.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

@media screen and (min-width: 320px) {
  .progress {
    height: 80px;
    margin-bottom: 24px;
  }

  .progress_item {
    min-width: 15px;
  }

}
@media screen and (min-width: 420px) {
  .progress {
    height: 92px;
    margin-bottom: 24px;
  }

  .progress_item {
    min-width: 16px;
  }
}

@media screen and (min-width: 768px) {
  .progress {
    height: 92px;
    margin-bottom: 32px;
  }

  .progress_item {
    min-width: 17px;
  }
  
}
@media screen and (min-width: 1024px) {
  .progress {
    margin-bottom: 32px;
  }

  .progress_item {
    min-width: 17px;
  }
}

@media screen and (min-width: 1280px) {
  .progress {
    margin-bottom: 56px;
  }

  .progress_item {
    min-width: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .progress {
    margin-bottom: 56px;
  }

  .progress_item {
    min-width: 18px;
  }
}