@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.sectionAbout {
    background-color: var(--fon);
}

.about-content{
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.01em;
}

.texts, .images{
    display: flex;
    justify-content: space-between;
}

.text {
  width: 100%;
}

.image {
    border-radius: 20px;
    margin-bottom: 0;
} 

@media only screen and (min-width: 320px) {
  
  .about-title {
    margin-bottom: 24px;
  }

  .about-content{
    font-size: 16px;
  }

  .texts {
    display: block;
    margin-bottom: 24px;
  }

  .image, .text {
    flex: 1;
    max-width: 100%;
    height: auto;
  }

  .images div:first-child {
    display: none;
  }

  .image2 {
    width: 100%;
    border-radius: 20px;
    content: image-set( '../../images/about/photo2-320-1x.jpg' 1x, '../../images/about/photo2-320-2x.jpg' 2x );
}
}

@media only screen and (min-width: 420px) {
  .about-title {
    margin-bottom: 24px;
  }

  .texts {
    display: block;
    margin-bottom: 24px;
  }

  .image, .text {
    flex: 1;
    max-width: 100%;
    height: auto;
  }

  .images div:first-child {
    display: none;
  }

  .image2 {
    width: 100%;
    border-radius: 20px;
    content: image-set( '../../images/about/photo2-420-1x.jpg' 1x, '../../images/about/photo2-420-2x.jpg' 2x );
}
}

@media only screen and (min-width: 768px) {


.about-title {
  margin-bottom: 32px;
}

.about-content{
  font-size: 20px;
}

.texts {
  display: flex;
  margin-bottom: 32px;
}

.image, .text {
  max-width: calc(50% - 10px);
}

.images div:first-child {
  display: block;
}

.image1 {
  width: 100%;
  border-radius: 20px;
  content: image-set( '../../images/about/photo1-768-1x.jpg' 1x, '../../images/about/photo1-768-2x.jpg' 2x );
}

.image2 {
  width: 100%;
  border-radius: 20px;
  content: image-set( '../../images/about/photo2-768-1x.jpg' 1x, '../../images/about/photo2-768-2x.jpg' 2x );
}

}

@media only screen and (min-width: 1024px) {

  .about-content{
    font-size: 20px;
  }

  .image, .text {
    max-width: calc(50% - 12px);
  }

  .image1 {
    width: 100%;
    border-radius: 20px;
    content: image-set( '../../images/about/photo1-1024-1x.jpg' 1x, '../../images/about/photo1-1024-2x.jpg' 2x );
  }
  
  .image2 {
    width: 100%;
    border-radius: 20px;
    content: image-set( '../../images/about/photo2-1024-1x.jpg' 1x, '../../images/about/photo2-1024-2x.jpg' 2x );
  }
  
}

@media only screen and (min-width: 1280px) {

  .about-title {
    margin-bottom: 56px;
  }

  .about-content{
    font-size: 24px;
  }

  .texts {
    margin-bottom: 48px;
  }

  .image, .text {
    max-width: calc(50% - 12px);
  }

  .image1 {
    width: 100%;
    border-radius: 20px;
    content: image-set( '../../images/about/photo1-1280-1x.jpg' 1x, '../../images/about/photo1-1280-2x.jpg' 2x );
  }
  
  .image2 {
    width: 100%;
    border-radius: 20px;
    content: image-set( '../../images/about/photo2-1280-1x.jpg' 1x, '../../images/about/photo2-1280-2x.jpg' 2x );
  }
}
