@import url("../../index.css");

.headerdesk {
  background-color: var(--fon);
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0px;
  z-index: 1;

  font-family: var(--font-family);
}

.header__block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
}

.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  text-decoration: none;
}

.header__menu__item {
  text-decoration: none;
  font-weight: 500;
  color: var(--black);
}

.header__menu__item:hover {
  color: var(--blue);
  border-bottom: 1px solid var(--blue);
  cursor: pointer;
}

.active {
  color: var(--blue);
}

/* button {
  background-color: red;
  width: 230px;
  height: 80px;
} */

/* ============ Адаптация ================ */

@media all and (1440px <= width) {
  .headerdesk {
    width: 100%;
    padding: 0px 80px;
  }

  .header__block {
    display: flex;
    gap: 100px;
  }

  .header__menu {
    display: flex;
    gap: 50px;
    padding: 0px 24px;
  }

  .header__menu__item {
    font-size: 20px;
  }
}

@media all and (1280px <= width < 1440px) {
  .headerdesk {
    /* max-width: 1120px; */
    width: 100%;
    padding: 0px 80px;
  }
  .header__block {
    display: flex;
    gap: 80px;
  }
  .header__menu {
    display: flex;
    padding: 0px 24px;
    gap: 30px;
  }

  .header__menu__item {
    font-size: 20px;
  }
}
@media all and (1024px <= width < 1280px) {
  .headerdesk {
    /* max-width: 904px; */
    width: 100%;
    padding: 0px 60px;
  }
  .header__block {
    display: flex;
    gap: 40px;
  }
  .header__menu {
    display: flex;
    padding: 0px 12px;
    gap: 16px;
  }

  .header__menu__item {
    font-size: 16px;
  }
}

/* ======== Tad/Mobile + Burgermenu ==== */

.headermobile {
  background-color: var(--fon);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  position: fixed;
  top: 0px;
  z-index: 1;
}

@media all and (768px <= width < 1024px) {
  .headermobile {
    /* max-width: 864px; */
    width: 100%;
    padding: 0px 40px;
  }
}

@media all and (420px <= width < 768px) {
  .headermobile {
    /* max-width: 380px; */
    width: 100%;
    padding: 0px 20px;
  }

  .header__menu__item {
    font-size: 16px;
  }
}

@media all and (320px <= width < 420px) {
  .headermobile {
    /* max-width: 280px; */
    width: 100%;
    padding: 0px 20px;
  }

  .header__menu__item {
    font-size: 16px;
  }
}
@media all and (width <= 320px) {
  .headermobile {
    /* max-width: 280px; */
    width: 100%;
    padding: 0px 20px;
  }

  .header__menu__item {
    font-size: 16px;
  }
}
