.header {
  background-color: #b5b3a6;
  padding: 6px 50px;
  height: auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dee2e6;
}

.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.header__menu--item {
}

.header__menu--link {
}

.button {
  width: 100px;
  height: 50px;
}
