/* .wrapper {
  display: none;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    display: block;
  }
} */

.sectionFooter {
  z-index: 0;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;

  padding: 32px 20px;
  text-align: center;

  background-color: var(--green);

  font-family: var(--font-family);

  color: var(--white-secondary);
}

@media only screen and (min-width: 768px) {
  .sectionFooter {
    padding: 48px 40px;
  }
}

@media only screen and (min-width: 1024px) {
  .sectionFooter {
    padding: 48px 60px;
  }
}

@media only screen and (min-width: 1280px) {
  .sectionFooter {
    padding: 56px 80px;
  }
}

.text {
  font-weight: 500;
  font-size: 20px;

  line-height: 1.5;
  letter-spacing: 0.01em;

  /* text-align: start; */
  margin-bottom: 48px;

  font-family: var(--second-family);
}

@media only screen and (min-width: 420px) {
  .text {
    font-size: 24px;
  }
}

@media only screen and (min-width: 1280px) {
  .text {
    margin-bottom: 56px;

    font-weight: 400;
    font-size: 36px;
  }
}

.textBaza {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.01em;
}

@media only screen and (min-width: 768px) {
  .textBaza {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1280px) {
  .textBaza {
    font-weight: 400;
    font-size: 18px;
  }
}

.styledModal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -40%);
  padding: 0;
  background: transparent;
  border-radius: 20px;
  overflow: hidden;
}

.modalOverlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
}
